@mixin centralizar_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

@mixin around_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@mixin between_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin criar_botao($cor, $cor_back, $font_size: 1rem, $raio: 8px) {
    background-color: $cor_back;
    color: $cor;
    border-radius: $raio;
    padding: 8px;
    font-size: $font_size;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}

@mixin fixar_elemento($top: 0px, $right: 0px, $z_index){
    top: $top;
    right: $right;
    z-index: $z_index;
}

@mixin form_input($cor_borda){
    border-radius: 8px;
    width: 100%;
    border: solid $cor_borda 1px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}