@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: 'Inter';
  list-style-type: none;
}

.main_layout {
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.6)
    ),
    url('@/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  @include centralizar_flex;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
