@import "./variables";
@import "./mixins";

*{
  box-sizing: border-box;
  color: $primary_2;
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_layout{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, $primary_3, $primary_4);
  @include centralizar_flex;
}